body {
	 background-image: url(images-5.jpeg);
	 background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}



.continer {
	display: flex;
	flex-direction: column;
    width: 38%;
    align-items: center;
    margin: auto;
    margin-top: 20px;
	box-sizing: border-box;
	margin-top: 50px;
  }
.tic  {
    width: 130px;
    height: 123px;
	background-color: lightblue;
}
.row-1 {
	border-bottom: 1px solid black;
}
.row-2 {
	border-bottom: 1px solid black;
}
/*.row-3 {
	border-bottom: 1px solid black;
}*/
.player {
	padding: 10px;
	width: 40px;
	background-color: red;
}
.player-button {
	text-align: center;
	width: 500px;
	height: 180px;
    margin: auto;
  }

#two , #five , #eight {
    border-left: 1px solid black;
    border-right: 1px solid black;

}
#reset {
    margin-top: 10px;
	padding: 10px;
	width: 120px;
	background-color: #E54B4B;
}
.tic {
	font-size: 60px;
	color: white;
	text-align: center;
 }
 #player1,#player2 {
    margin-top: 10px;
    width: 120px;
    padding: 10px;
    margin-right: 50px;
    background-color: #E54B4B;
    font-size: 25px;
 }











