body {
	 background-image: url(images-5.jpeg);
	 background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     font-family: 'Supermercado One', cursive;
     font-family: 'Sunshiney', cursive;
}



.continer {
	display: flex;
	flex-direction: column;
    width: 38%;
    align-items: center;
    margin: auto;
    margin-top: 20px;
	box-sizing: border-box;
	margin-top: 50px;
  }
 h1 {
   text-align:center;
   font-size: 56px;
  }

/*.row-1 {
	    border-bottom: 5px solid black;
}
.row-2 {
	    border-bottom: 5px solid black;
}*/
/*.row-3 {
	border-bottom: 1px solid black;
}*/
.player {
	padding: 10px;
	width: 40px;
	background-color: red;
}
.player-button {
	text-align: center;
	width: 500px;
	height: 180px;
    margin: auto;
    margin-top: -39px;
  }

#two , #five , #eight {
    border-left: 5px solid black;
    border-right: 5px solid black;

}

#reset {
    margin-top: 10px;
	padding: 10px;
	width: 120px;
	background-color: #E54B4B;
}
.tic {
	font-size: 60px;
	color: white;
	text-align: center;
    background-color: oldlace;
    width: 130px;
    height: 123px;
	color: black;
 }
 #turnX , #turnO {
    margin-top: 10px;
    width: 120px;
    padding: 10px;
    margin-right: 50px;
    background-color: #E54B4B;
    font-size: 25px;
    margin-left: 45px;

 }











