
.continer {
	display: flex;
	flex-direction: column;
    width: 38%;
    align-items: center;
    margin: auto;
	box-sizing: border-box;
}

.tic  {
    width: 130px;
    height: 123px;
	background-color: lightblue;
}
.row-1 {
	border-bottom: 1px solid black;
}
.row-2 {
	border-bottom: 1px solid black;
}
/*.row-3 {
	border-bottom: 1px solid black;
}*/
.player {
	padding: 10px;
	width: 40px;
	background-color: lightblue;
}
.player-button {
	text-align: center;
	border: 1px solid lightblue;
	width: 500px;
}

#two , #five , #eight {
    border-left: 1px solid black;
    border-right: 1px solid black;

}
#reset {
	padding: 10px;
	width:100px;
}
.tic {
	font-size: 60px;
	color: white;
	text-align: center;
 }


